{% extends 'home.html' %}
{% block title %}
company
{% endblock %}
{% block link %}
{% endblock %}
{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-md-6'>
			name: {{company.name}}<br>
			scale: {{company.get_scale_display}}<br>
			city: {{company.get_city_display}}<br>
			address: {{company.address}}<hr>
			summary: {{company.summary}}<br>
			<a href='{% url "company_change" %}'><button class='btn btn-default'>修改</button></a>
			<hr>
			职位<br>
			{% for job in company.job_set.all %}
			-<a href='{% url 'job' id=job.id %}'>{{job.name}}</a> 
			<br>
			{% endfor %}
			<a href='{% url 'job_add' %}'><button class='btn btn-info'>发布职位</button></a><br>
		</div>
	</div>
</div>
{% endblock %}
{% block js%}
{% endblock %}
