{% extends 'home.html' %}
{% block title %}
job
{% endblock %}
{% block link %}
{% endblock %}
{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-md-6'>
			name: {{job.name}}<br>
			years: {{job.get_years_display}}<br>
			salary: {{job.get_salary_display}}<br>
			count: {{job.count}}<br>
			create_date: {{job.create_date}}<br>
			company: {{job.company}}<hr>
			tags:
			{% for tag in job.tags.all %}
			<div class='small'>{{tag.name}}</div>
			{% endfor %}<br>
			welfares:
			{% for welfare in job.welfares.all %}
			<div class='small'>{{welfare.name}}</div>
			{% endfor %}<br>
			{% if job.attach_welfare %}
			attach_welfare: {{job.attach_welfare}}<br>
			{% endif %}
			technique: {{job.technique}}<hr>
			duty: {{job.duty}}<br>

			{% if attributed %}
				<a href='{% url 'job_change' id=job.id %}'><button class='btn btn-primary'>修改</button></a>
			{% endif %}
			{% if person_name %}
			<button id='collect' class='btn btn-primary'>{% if collected %}已收藏{% else %}收藏{% endif %}</button>
			<button id='apply'   class='btn btn-primary'>{% if applied %}已申请{% else %}申请{% endif %}</button>
			{% endif %}
			<hr>
			{% if attributed %}
			<span>申请记录</span><br>
			<div class='job_apply_list'>
				{% for app_progress in app_progress_list %}
				<div>
					<a href='{% url 'person_view' id=app_progress.person.id %}' class='col-md-3'>{{app_progress.person}}</a><span class='col-md-3'> {{app_progress.get_progress_display}}</span>
					{% if app_progress.progress == "ap" %}
					<a class='scan' name='{{app_progress.person.id}}'>标记已阅</a>
					<a class='interview' style="display: none;" name='{{app_progress.person.id}}'>安排面试</a>
					<a class='offer' style="display: none;" name='{{app_progress.person.id}}'>通知录用</a>
					{% elif app_progress.progress == "sc" %}
					<a class='scan' style="display: none;" name='{{app_progress.person.id}}'>标记已阅</a>
					<a class='interview' name='{{app_progress.person.id}}'>安排面试</a>
					<a class='offer' style="display: none;" name='{{app_progress.person.id}}'>通知录用</a>
					{% elif app_progress.progress == "in" %}
					<a class='scan' style="display: none;" name='{{app_progress.person.id}}'>标记已阅</a>
					<a class='interview' style="display: none;" name='{{app_progress.person.id}}'>安排面试</a>
					<a class='offer' name='{{app_progress.person.id}}'>通知录用</a>
					{% endif %}

					<br/>
				</div>
				{% endfor %}
			</div>
			{% endif %}

		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src='/static/js/mycookies.js'></script>
<script>
{% if person_name %}
$(function(){
	$('#collect').click(function(){
		$.post('{% url "job_collect_add" id=job.id %}',function(data){
			$('#collect').text('已收藏').off('click');
		});
	});
	$('#apply').click(function(){
		$.post('{% url "job_apply" id=job.id %}',function(data){
			$('#collect').text('已申请').off('click');
		});	
	});
});
{% endif %}
{% if company_name %}
$(function(){
	// fix it
	$('.job_apply_list a.scan').click(function(){
		$(this).hide();
		$(this).next().show();
	//	$.post(url,{},function(){});	
	});
	$('.job_apply_list a.interview').click(function(){
		$(this).hide();
		$(this).next().show();
	//	$.post(url,{},function(){});	
	});
	$('.job_apply_list a.offer').click(function(){
		$(this).hide();
	//	$.post(url,{},function(){});	
	});
});
{% endif %} 
</script>
{% endblock %}
