{% extends 'home.html' %}
{% block title %}
test2
{% endblock %}
{% block content %}
<div class='page'>
</div>
<div class='page secondary with-sidebar'>
	<div class='page-header'>
		<div class='page-header-content'>
		</div>
	</div>
	<div class='page-sidebar pull-left'>
		<ul>
			<li>main</li>
			<ul class='sub-menu'>
				<li>sub</li>
				<li>sub</li>
			</ul>
			<li>main</li>
			<ul class='sub-menu'>
				<li class='sticker sticker-color-orange'>sub</li>
				<li class='sticker sticker-color-orangeDark'>sub</li>
				<li class='sticker siicker-color-green'>sub</li>
				<li class='sticker siicker-color-pink'>sub</li>
			</ul>
		</ul>
	</div>
	<div class='page-region'>
		<div class='page-region-content'>
			<div class='span9'>
				<h2>before</h2>
				<h2>now</h2>
				<h2>future</h2>
			</div>
		</div>
	</div>
</div>

{% endblock %}
